
{% extends 'base.html' %}

{% block content %}

<h1>Feel Good CoffeShop</h1>

<div class="row">
    {% for coffee in coffee%}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{coffee.image}}" class = "card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{coffee.name}}</h5>
              <p class="card-text">EGP{{coffee.price}}</p>
              <form action="{% url 'add_to_cart' coffee.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Add to Cart</button>
              </form>
          </div>
          </div>
    </div>
    {% endfor %}
{% endblock %}